* {
  font-family: inconsolata, monospace;
  font-optical-sizing: auto;
}
html {
  background-color: #000;
  color: #fff;
}
body {
  margin: 0 10dvw;
  padding: 2dvw;
  background-color: #141414;
}
h1, h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
a:link {
  color: #44f;
}
code {
  background-color: #ffffff20;
  border-radius: 3px;
  padding: 0 3px;
}
pre {
  background-color: #ffffff20;
  border-radius: 3px;
  padding: 3px;
}
span.red {
  color: #f00;
}
span.red > code, span.red > pre {
  background-color: #ff000020;
}
span.yellow {
  color: #ff0;
}
span.yellow > code, span.yellow > pre {
  background-color: #ffff0020;
}
span.subtext {
  font-style: italic;
  color: #808080;
}