@font-face {
  font-family: fairfax;
  src: url(https://the179ucetile.github.io/h/fonts/FairfaxHD.ttf)
}
* {
  font-family: fairfax;
  color: #fff;
}
html {
  background-color: #000;
}
a:link {
  color: #44f
}
div.code span {
  background-color: #333;
  border: 2px solid #666;
}
span.red {
  color: #f00
}