@font-face {
  font-family: "Monospace TextWall";
  src: url(monospace-textwall-wip.ttf);
}
body { 
  background-color: #000000; 
}
* {
  font-family: "Monospace TextWall", monospace;
  color: #ffffff;
  font-size: 14px;
}
a {
  transition: color 1s, text-shadow 1s;
}
a:link {
  color: #6060ff;
  text-shadow: 2px 2px 4px #4040ff;
}
a:visited {
  color: #c060ff;
  text-shadow: 2px 2px 4px #a040ff;
}
a:hover {
  color: #ffffff;
  text-shadow: 2px 2px 4px #808080;
}
a:active {
  color: #ffffff;
  text-shadow: 0px 0px 4px #808080;
}
button {
  background-image: linear-gradient(to bottom, #ffffff, #a0a0a0);
  color: #000000;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
  border: 2px solid #707070;
  cursor: pointer;
  transition: border 0.6s, background-image 0.6s, box-shadow 0.6s;
}
button:hover {
  background-image: linear-gradient(to bottom, #c0c0c0, #808080);
  box-shadow: 0px 0px 4px #ffffff;
  border: 2px solid #404040;
}
button:active {
  background-image: linear-gradient(to bottom, #808080, #606060);
  border: 2px solid #202020;
}