@font-face {
  font-family: "Monospace TextWall";
  src: url(monospace-textwall-wip.ttf);
}
body { 
  background-color: #000000; 
}
* {
  font-family: "Monospace TextWall", monospace;
  color: #ffffff;
  font-size: 14px;
}
button {
  background-image: linear-gradient(to bottom, #ffffff, #a0a0a0);
  color: #000000;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
  border: 2px solid #707070;
  cursor: pointer;
  transition: border 0.6s, background-image 0.6s, box-shadow 0.6s;
}
button:hover {
  background-image: linear-gradient(to bottom, #a0a0a0, #606060);
  box-shadow: 0px 0px 4px #ffffff;
  border: 3px solid #404040;
}