@font-face {
  font-family: "Monospace TextWall";
  src: url(monospace-textwall-wip.ttf);
}
body, html { 
  background-color: #000000; 
}
* {
  font-family: "Monospace TextWall", monospace;
  color: #ffffff;
}
p {
  size: 14px
}
h1 {
  size: 25px;
  text-shadow: 0 2px 0 #ffffff80, 0 4px 0 #ffffff40;
  font-weight: normal;
}
div.contain {
  padding: 10px;
  position: fixed;
  left: 0;
  width: 400px;
  height: 75vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(to right, #000000c0, #00000080);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  transition: color 0.6s, text-shadow 0.6s;
}
a:link {
  color: #6060ff;
  text-shadow: 1px 1px 3px #4040ff;
}
a:visited {
  color: #c060ff;
  text-shadow: 1px 1px 3px #a040ff;
}
a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 3px #808080;
}
a:active {
  color: #c0c0c0;
  text-shadow: 0px 0px 3px #c0c0c0;
}
button {
  background-image: linear-gradient(to bottom, #ffffff, #a0a0a0);
  color: #000000;
  text-shadow: 1px 1px 3px #00000080;
  padding: 4px;
  border-radius: 3px;
  border: 2px solid #707070;
  cursor: pointer;
  transition: border 0.6s, background-image 0.6s, box-shadow 0.6s;
}
button:hover {
  background-image: linear-gradient(to bottom, #c0c0c0, #808080);
  box-shadow: 0px 0px 4px #ffffff;
  border: 2px solid #404040;
}
button:active {
  background-image: linear-gradient(to bottom, #808080, #606060);
  border: 2px solid #202020;
}