@font-face {
  font-family: "Monospace TextWall";
  src: url(monospace-textwall-wip.ttf);
}
body { 
  background-color: #000000; 
}
* {
  font-family: "Monospace TextWall", monospace;
  color: #ffffff;
  font-size: 12px;
}
button {
  background-image: linear-gradient(to bottom, #ffffff, #a0a0a0);
  color: #000000;
  font-size: 12px;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition: background-image 0.4s, box-shadow 0.4s;
}
button:hover {
  background-image: linear-gradient(to bottom, #a0a0a0, #606060);
  box-shadow: 0px 0px 3px #ffffff;
}