@font-face {
  font-family: "Monospace TextWall";
  src: url(monospace-textwall-wip.ttf);
}
body { 
  background-color: #000000; 
}
h1, p {
  font-family: "Monospace TextWall", monospace;
  color: #000000;
}
