@font-face {
  font-family: "Monospace TextWall";
  src: url("monospace-textwall-wip.ttf");
}
body { 
  background-color: #000000; 
}
* {
  font-family: "Monospace TextWall", monospace;
  color: #000000;
}
