* {
  margin: 0;
}
@font-face {
  font-family: braille octant;
  src: url(/fonts/worst-font-ever.ttf)
}
@font-face {
  font-family: "monospace textwall";
  src: url(/fonts/monospace-textwall-wip.ttf)
}
.headertext {
  font-family: Wittgenstein, serif;
  font-variant: small-caps;
  font-size: 50px;
  position: relative;
  margin: 0 0 10px 30px;
}
header {
  background-color: #008;
  width: 100vw;
  height: 80px;
}
footer {
  background-color: #f00;
  width: 100vw;
  font-size: 10px;
}
html {
  background-color: #69f;
  filter: contrast(10);
}
hr {
  border: 2px solid #88f;
}
h1 {
  font-family: "braille octant", monospace;
  font-weight: normal;
  font-size: 50px;
  color: #000;
  background-color: #f0f;
}
h2, h3, h4, h5, h6 {
  font-family: "Courier New", monospace;
  font-variant: small-caps;
}
p {
  font-family: cursive;
  font-size: 14px;
}
ol, ul, li {
  font-family: "monospace textwall", monospace;
}
a {
  color: #0f0;
}
a:visited {
  color: #ff0;
}
div.welcome {
  margin: 5px;
  background-color: #08f;
  padding: 5px;
  border: 1px dashed #00f;
}
div.dyk {
  margin: 5px;
  background-color: #080;
  border: 1px solid #0f0;
  padding: 5px;
}
div.dyk h2 {
  background-color: #0c0;
  border: 1px solid #fff;
}
div.itn {
  margin: 5px;
  background-color: #048;
  border: 1px solid #08f;
  padding: 5px;
  color: #fff;
}
div.itn h2 {
  background-color: #08f;
  border: 1px solid #fff;
}
div.otr {
  margin: 5px;
  background-color: #444;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
}
div.otr h2 {
  background-color: #048;
  border: 1px solid #fff;
}
div.otr b {
  font-family: Wittgenstein, serif;
  font-variant: small-caps;
  color: #08f;
}