header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100vw;
  min-height: 30px;
  border: 2px solid #404040;
  border-style: none none solid none;
  background-image: linear-gradient(to bottom, #000000, #202020)
}
button.upg {
  border-radius: 5px;
  box-shadow: 0 0 5px #fff4;
  width: 175px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.btn {
  color: #000;
}
span#mainCurrency {
  background: linear-gradient(to bottom, #fff, #ccc);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}