html {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  background-color: #000;
  color: #fff;
}
h2 {
  font-weight: 400;
  font-variation-settings: "XOPQ" 125, "YOPQ" 40, "wdth" 75;
  font-size: 2em;
}
button.multiplierBtn {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid #a00;
  background-image: linear-gradient(45deg, #f00, #c00, #f00);
  font-size: 1.25em;
  color: #fff;
}